extends ../layout

block content
    h1.
         #{title}
    ul
        - each note, i in notes
            li
                = note.Title
                form(action='/notes/#{note._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit' class='btn btn-danger').
                        Delete
                    a(href='/notes/#{note._id}/edit' class='btn btn-default') Edit
                    a(href='/notes/#{note._id}' class='btn btn-default') Show